<div class="w-100 h-100 d-flex" >
  <!-- <div class="overview-container">
    hey
  </div> -->
  <div class="flex-1" #envelopeContainer>
    <svg #svgContainer>

      <rect [attr.x]="PAD / 2" fill="#252c33" [attr.height]="availableHeight - (PAD / 2)" [attr.width]="availableWidth - (PAD)" rx="5" />

      <text style="fill: #A9A9A9" [attr.y]="lineBase + 15" [attr.x]="PAD - 3">
        0
      </text>

      <path
        [ngClass]="{'line-off' : !isEditable}"
        [attr.d]="getAttackCurve()"
        stroke="white"
        fill="transparent"
        stroke-linecap="round"
        stroke-width="3"
        stroke="white"
        class="line"
      />

      <path
        [attr.d]="getAttackCurve()"
        stroke="white"
        fill="transparent"
        stroke-linecap="round"
        stroke-width="15"
        stroke="#0074D9"
        class="line"
        (mouseenter)="hovered[0]=true"
        (mouseleave)="hovered[0]=false"
        [attr.stroke-opacity]="hovered[0] ? '0.4' : '0'"
        (click)="toggleCurve(0)"
      />

      <path
        [ngClass]="{'line-off' : !isEditable}"
        [attr.d]="getDecayCurve()"
        stroke="white"
        fill="transparent"
        stroke-linecap="round"
        stroke-width="3"
        stroke="white"
      />

      <path
        [attr.d]="getDecayCurve()"
        stroke="white"
        fill="transparent"
        stroke-linecap="round"
        stroke-width="15"
        stroke="#0074D9"
        class="line"
        (mouseenter)="hovered[1]=true"
        (mouseleave)="hovered[1]=false"
        [attr.stroke-opacity]="hovered[1] ? '0.4' : '0'"
        (click)="toggleCurve(1)"
      />


      <line
        #sustainLine
        [ngClass]="{'line-off' : !isEditable}"
        [attr.x1]="PAD + cumulativePoints[1]"
        [attr.y1]="PAD + cumulativePoints[2]"
        [attr.x2]="PAD + sustainWidth"
        [attr.y2]="PAD + cumulativePoints[2]"
        stroke-linecap="round"
        stroke-width="3"
        stroke="white"
      />

      <path
        [ngClass]="{'line-off' : !isEditable}"
        [attr.d]="getReleaseCurve()"
        stroke="white"
        fill="transparent"
        stroke-linecap="round"
        stroke-width="3"
        stroke="white"
      />

    <circle
      [ngClass]="{'off' : !isEditable}"
      #sustainHandle
      [attr.cx]="PAD + cumulativePoints[1]"
      [attr.cy]="PAD + cumulativePoints[2]"
      [attr.r]="handleRadius"
      stroke="#fffd47"
      stroke-width="3"
      class="handle"
    />


    <circle
      *ngIf="isEditable"
      #releaseHandle
      [attr.cx]="PAD + sustainWidth"
      [attr.cy]="PAD + cumulativePoints[2]"
      [attr.r]="handleRadius"
      stroke="#fffd47"
      stroke-width="3"
      stroke-fill="transparent"
      class="handle"
    />

    <circle
      [ngClass]="{'off' : !isEditable}"
      #attackHandle
      [attr.cx]="PAD"
      [attr.cy]="lineBase"
      [attr.r]="handleRadius"
      stroke="#fffd47"
      stroke-width="3"
      stroke-fill="transparent"
      class="handle"
    />

    <circle
      *ngIf="isEditable"
      [attr.cx]="PAD + cumulativePoints[3]"
      [attr.cy]="lineBase"
      [attr.r]="handleRadius"
      stroke="#fffd47"
      stroke-width="3"
      stroke-fill="transparent"
      class="handle"
    />

    <circle
      [ngClass]="{'off' : !isEditable}"
      #decayHandle
      [attr.cx]="PAD + cumulativePoints[0]"
      [attr.cy]="PAD"
      [attr.r]="handleRadius"
      stroke="#fffd47"
      stroke-width="3"
      stroke-fill="transparent"
      class="handle"
    />
  </svg>
  </div>
</div>

